<div class="container">
  <!-- Main -->
  <section id="main" class="main">
    <div class="section-list-header">
      <h2>{{departmentName}}</h2>
    </div>
    <ul class="nav nav-justified">
      <li><a href="javascript:undefined" (click)="getCategoryProducts('Games')">Games</a></li>
      <li><a href="javascript:undefined" (click)="getCategoryProducts('Consoles')">Consoles</a></li>
      <li><a href="javascript:undefined" (click)="getCategoryProducts('Accessories')">Accessories</a></li>
    </ul>
    <!-- <img src="../assets/images/main-image-1.png" alt="image 1" class="img-responsive" /> -->
  </section>

  <!-- Department Categories -->
  <section id="department-categories" class="department-categories" *ngIf="isDepartment">
    <div class="section-list-item col-sm-3" *ngFor="let product of departmentProducts">
      <a routerLink="/itemdetails/{{product.id}}" class="thumbnail">
					<img src="{{product.image_path}}" alt="{{product.name}}" >
					<div class="text-container">
						<h4>{{product.name}}</h4>
						<p>{{product.description}}</p>
						<span class="item-price">{{product.detail}}</span>
					</div>
			</a>
    </div>
  </section>
