<div class="container">
  <!-- Main -->
    <section id="main" class="main">
    <div class="section-list-header"> 
      <h2>{{departmentName}}</h2>
    </div>
    <ul class="nav nav-justified">
      <li><a href="#">Games</a></li>
      <li><a href="#">Consoles</a></li>
      <li><a href="#">Accessories</a></li>
    </ul>
    <img src="../assets/images/main-image-1.png" alt="image 1" class="img-responsive" />
  </section>  

  <!-- Department Categories -->
  <section id="department-categories" class="department-categories">
    <div class="section-list-item col-sm-3" *ngFor="let department of departments">
      <a href="#" class="thumbnail">
					<img src="{{department.image_path}}" alt="{{department.name}}">
					<div class="text-container">
						<h4>{{department.name}}</h4>
						<p>{{department.description}}</p>
						<span class="item-price">{{department.detail}}</span>
					</div>
				</a>
    </div>
  </section>

  <section id="featured" class="section-list">
    <div class="section-list-header">
      <h2>FEATURED PRODUCTS</h2>
    </div>
    <div class="section-list-item col-sm-3" *ngFor="let feature of features">
      <a href="#" class="thumbnail">
					<img src="{{feature.image_path}}" alt="{{feature.name}}">
					<div class="text-container">
						<h4>{{feature.name}}</h4>
						<p>{{feature.description}}</p>
						<span class="item-price">{{feature.detail}}</span>
					</div>
				</a>
    </div>
  </section>

  <!-- Banner Large -->
  <section id="banner-ad-sub" class="banner-sm">
    <a href="#"><img src="../assets/images/banner-large.png" alt="" class="img-responsive" /></a>
  </section>

  <!-- Best Sellers -->
  <section id="best-sellers" class="section-list">
    <div class="section-list-header">
      <h2>BEST SELLERS</h2>
    </div>
    <div class="section-list-item col-sm-3" *ngFor="let seller of bestSellers">
      <a href="#" class="thumbnail">
					<img src="{{seller.image_path}}" alt="{{seller.name}}">
					<div class="text-container">
						<h4>{{seller.name}}</h4>
						<p>{{seller.description}}</p>
						<span class="item-price">{{seller.detail}}</span>
					</div>
				</a>
    </div>
  </section>

  <!-- Banner Large -->
  <section id="banner-ad-sub" class="banner-sm">
    <a href="#"><img src="../assets/images/banner-large.png" alt="" class="img-responsive" /></a>
  </section>

  <!-- Top Categories -->
  <section id="top-categories" class="section-list">
    <div class="section-list-header">
      <h2>Top Categories</h2>
    </div>
    <div class="section-list-item col-sm-3" *ngFor="let category of topCategories">
      <a href="#" class="thumbnail">
					<img src="{{category.image_path}}" alt="{{category.name}}">
					<div class="text-container">
						<h4>{{category.name}}</h4>
						<p>{{category.description}}</p>
						<span class="item-price">{{category.detail}}</span>
					</div>
				</a>
    </div>
  </section>
</div>