.table-data{
    text-align: center;    
}

.table-text{
    text-align: left;
    vertical-align: middle;
}

table {
    margin-left: 200px;
    max-width: 70%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    text-shadow: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

* {
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

img{
    max-width: 64px;
    max-height: 64px;
}