<div style="text-align:center" *ngIf="isProductEmpty()">
    <h1>NO ITEM FOUND, PLEASE SEARCH AGAIN</h1>
</div>
<p-growl [(value)]="msgs" life="3000"></p-growl>
<table class="table table-data ">
    <tbody *ngFor='let product of products'>
        <tr>
            <td class="table-data">
                <div>
                    <a routerLink="/itemdetails/{{product.id}}">
                        <img src="{{product.image_path}}" alt="{{product.name}}">
                    </a>
                </div>
            </td>
            <td class="table-text">
                <div>
                    <a routerLink="/itemdetails/{{product.id}}">{{product.name}}</a>
                </div>
            </td>
            <td class="table-text">
                <div>
                    <strong>{{product.detail}}</strong>
                </div>
            </td>
            <td class="table-text" *ngIf="product.price != 0">
                <a title="Add to Cart" (click)="addToCart(product.id)">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                </a>
            </td>
            <td class="table-text">
                <a title="Add to Wishlist" (click)="addToWishlist(product.id)">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>