<div class="container">
  <h2>SIGN UP</h2>
  <form (ngSubmit)="createAccount(f)" #f="ngForm">
    <div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" ngModel>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" ngModel>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
        <input type="text" class="form-control" id="email" name="email" placeholder="Email" ngModel>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
        <input type="text" class="form-control" id="username" name="username" placeholder="Username" ngModel>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
        <input type="password" class="form-control" pPassword id="password" name="password" placeholder="Password" ngModel>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
        <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="Confirm Password"  ngModel>
      </div>
      <button type="submit" class="btn btn-default">Create Account</button>
    </div>
  </form>
</div>