html, body {
  height: 100%;
  width: 100%;
  margin-right: auto; margin-left: auto;	
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	overflow-x: hidden;
	background-color: #EFEFEF;
}

h2 {
	font-weight: bold;
	margin: 0; padding: 0;
}

.navbar {
	border-radius: 0;
}

.section-list-header {
	text-align: center;
	color: #fff;
	padding: 10px 0; margin-bottom: 10px;
	background: #000;
}

.text-container {
	padding: 0 20px; 
}

a.thumbnail {
	min-height: 320px;
}

/*** Top Banner ***/
section.top-banner {
	height: 60px;
	background: #4388CC;
}

/*** Header ***/
header.header {
	padding: 20px 0 20px;
}

header .input-group {
	margin-top: 14px;
}

/*** Navigation ***/



/*** Banner Medium ***/
section.banner-md {
	margin-top: 20px;
	height: 120px;
	background: #FF0000;
}

/*** Banner Large ***/
section.banner-lg {
	height: 300px;
	background: #333;
}


/*** Pre-Footer ***/
section.pre-footer {
	color: #ccc;
	margin-top: 20px;
	font-size: 10pt;
	padding: 40px 0;
	background: #666;
}

section.pre-footer h6{
	color: #fff;
}

section.pre-footer a{
	color: #ccc;
}


/*** Footer ***/
footer {
	text-align: center;
	color: #ccc;
	font-size: 10pt;
	padding: 8px 0;
	background: #000;
}

