/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/themes/omega/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '/src/external_components/font-awesome-4.7.0/css/font-awesome.min.css"';

section.section-list {
	color: #666;
	min-height: 320px;
	padding: 40px 0 20px;
}

section.section-list h4 {
	margin: 0; padding: 0; 
}

/*** Main ***/
section#main .section-list-header {
	background: #0066ff;
}

/*** Featured ***/
section#featured {
	min-height: 820px;
}

section#featured .section-list-header {
	background: #336600;
}

/*** Best Sellers ***/
section#best-sellers {
	min-height: 780px;
}

section#best-sellers .section-list-header {
	background: #CC0000;
}

/*** Top Categories ***/
section#top-categories {
	min-height: 480px;
}

section#top-categories .section-list-header {
	background: #003399;
}


/*** Department Categories ***/
section#department-categories {
	margin-top: 20px; 
	min-height: 320px;
}

section#department-categories .section-list-header {
	background: #003399;
}

/*** Product Main ***/
section#product-main {

}

/*** Product Filter ***/
section#product-main .product-filter {
	padding: 14px;
	height: 800px;
	color: #666;
	font-size: small;
}

section#product-main .product-filter h6 {
	margin-top:20px; margin-bottom: 6px;
	border-bottom: 1px solid #ccc;
}

section#product-main .product-filter a {
	padding: 0 4px;
}

/*** Product List ***/
section#product-main .product-container {
}


/*** Product Sort ***/
.product-sort {
	margin: 0; padding: 0; 
	color: #666;
	font-size: small;
}

.product-sort.navbar {
	min-height: 0;
}


section#product-main .product-sort a {
	margin: 0; padding: 6px 12px; 
	color: #337ab7;
}

/*** Product Pagelist ***/
.product-pagelist {
	font-size: small;
	border-bottom: 1px solid #ccc; 
	padding: 6px;
}

html, body {
  height: 100%;
  width: 100%;
  margin-right: auto; margin-left: auto;	
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	overflow-x: hidden;
	background-color: #E3DDDD;
}

h2 {
	font-weight: bold;
	margin: 0; padding: 0;
}

.navbar {
	border-radius: 0;
}

.section-list-header {
	text-align: center;
	color: #fff;
	padding: 10px 0; margin-bottom: 10px;
	background: #000;
}

.text-container {
	padding: 0 20px; 
}

a.thumbnail {
	min-height: 320px;
}

/*** Top Banner ***/
section.top-banner {
	height: 60px;
	background: #4388CC;
}

/*** Header ***/
header.header {
	padding: 20px 0 20px;
}

header .input-group {
	margin-top: 14px;
}

/*** Banner Medium ***/
section.banner-md {
	margin-top: 20px;
	height: 120px;
	background: #FF0000;
}

/*** Banner Large ***/
section.banner-lg {
	height: 300px;
	background: #333;
}


/*** Pre-Footer ***/
section.pre-footer {
	color: #ccc;
	margin-top: 20px;
	font-size: 10pt;
	padding: 40px 0;
	background: #666;
}

section.pre-footer h6{
	color: #fff;
}

section.pre-footer a{
	color: #ccc;
}


/*** Footer ***/
footer {
	text-align: center;
	color: #ccc;
	font-size: 10pt;
	padding: 8px 0;
	background: #000;
}

/*** Product Detail Main ***/
section#product-detail-main {
	padding: 10px 32px;
	background-color: #ffffff;
}

section#product-detail-main h1 {
	margin: 0; margin-top: 8px; 
	font-weight: bold;
}

section#product-detail-main h2, h3, h4 {
	padding: 0;	margin: 4 0;
	font-weight: bold;
}

section#product-detail-content {
	margin: 0; padding: 20px 32px 60px;
	background: #ffffff;
	min-height: 420px;
}

.product-detail-container {
	padding: 4px; 
}

section#product-detail-info {
	margin-top: 20px; 
	font-size: 12px;
	font-weight: bold;
}
	
/*** Cart and Wishlist ***/
hr {
    border: 1;
    clear:both;
    width: 100%;               
    background-color:#000000;
    height: 1px;
  }