@using COMP743_WebDevelopment.Models
@{
    ViewBag.Title = "Products";
}



<div style="width: 600px; margin-left: auto; margin-right: auto">
    <div style="background-color: lightgray">
        <h2>My Products</h2>
    </div>
    <p>Click the button to Get Products with an Ajax call</p>
    <input id="btnAjax" name="btnAjax" type="button" value="Get Products" />
    <div id="products" style="background-color: lightskyblue"></div>
</div>

<div id="changePriceDiv" style="display: none">
    <hr />
    <table>
        <tr>
            <th>Product ID</th>
            <th>New Price</th>
        </tr>
        <tr>
            <td>
                <input id="txtId" name="txtId" type="text" />
            </td>
            <td>
                <input id="txtPrice" name="txtPrice" type="text" />
            </td>
        </tr>
    </table>
    <input id="btnChangePrice" name="btnChangePrice" type="button" value="Change Price" />
</div>

