<!-- Pre-Footer -->
<section id="pre-footer" class="pre-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h6></h6>
            </div>
            <div class="col-sm-3">
                <h6>Need Help?</h6>
                <ul class="list-unstyled">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Delivery and Payment</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h6>ESRB</h6>
                <ul class="list-unstyled">
                    <li><a href="#">What is ESRB?</a></li>
                    <li><a href="http://www.respecttheratings.com/">Respect the Rating</a></li>
                    <li><a href="http://www.esrb.org/">ESRB.org</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h6>About Us</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Who we are</a></li>
                    <li><a href="#">Why buy from us</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="container">
        Copyright © 2017 GameNerd. All Rights Reserved.
    </div>
</footer>