<div class="container">
	<!-- Main -->
	<section id="main" class="main">
		<img src="../assets/images/main-image-1.png" alt="image 1" class="img-responsive" />
	</section>

	<!-- Banner Medium -->
	<section id="banner-ad-main" class="banner-md">
		<a href="#"><img src="../assets/images/banner-medium.png" alt="" class="img-responsive" /></a>
	</section>

	<!-- Featured and Recommended -->
	<section id="featured" class="section-list">
		<div class="section-list-header">
			<h2>FEATURED PRODUCTS</h2>
		</div>
		<div class="section-list-item col-sm-3" *ngFor="let product of products">
			<a routerLink="/itemdetails/{{product.id}}" class="thumbnail">
				<img src="{{product.image_path}}" alt="{{product.name}}">
				<div class="text-container">
					<h4>{{product.name}}</h4>
					<p>{{product.description}}</p>
					<span class="item-price">{{product.detail}}</span>
				</div>
			</a>
		</div>
	</section>

	<!-- Banner Large -->
	<section id="banner-ad-sub" class="banner-sm">
		<a href="#"><img src="../assets/images/banner-large.png" alt="" class="img-responsive" /></a>
	</section>

	<!-- Best Sellers -->
	<section id="best-sellers" class="section-list">
		<div class="section-list-header">
			<h2>BEST SELLERS</h2>
		</div>
		<div class="section-list-item col-sm-3" *ngFor="let seller of bestSellers">
			<a routerLink="/itemdetails/{{seller.id}}" class="thumbnail">
				<img src="{{seller.image_path}}" alt="{{seller.name}}">
				<div class="text-container">
					<h4>{{seller.name}}</h4>
					<p>{{seller.description}}</p>
					<span class="item-price">{{seller.detail}}</span>
				</div>
			</a>
		</div>
	</section>

	<!-- Top Categories -->
	<section id="top-categories" class="section-list">
		<div class="section-list-header">
			<h2>Top Categories</h2>
		</div>
		<div class="section-list-item col-sm-3" *ngFor="let category of topCategories">
			<a routerLink="/itemdetails/{{category.id}}" class="thumbnail">
					<img src="{{category.image_path}}" alt="{{category.name}}">
					<div class="text-container">
						<h4>{{category.name}}</h4>
						<p>{{category.description}}</p>
						<span class="item-price">{{category.detail}}</span>
					</div>
				</a>
		</div>
	</section>
</div>